.nav {
    display: flex;
    flex: 20%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 5rem 0;
    height: 100%;
    background-color: rgb(223, 151, 151);
    height: 100vh;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    gap: 30rem;
    align-items: center;
    height: 10vh;
    padding: 15px;
    background-color: rgb(191, 226, 191);
}

.logo {
    font-weight: 600;
    font-size: 2rem;
}

.navbar img {
    height: 80px;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.nav a {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.nav a:hover {
    background-color: #ddd;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    flex: 60%;
    padding: 1rem;
    background-color: rgb(240, 240, 173);
    height: 100vh;

    box-sizing: border-box;
}

article h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

article p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 24px;
}


.events {
    display: flex;
    padding: 5rem 1rem;
    box-sizing: border-box;
    flex: 20%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(141, 141, 211);
    height: 100vh;
}

.events h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.events ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.events li {
    margin-bottom: 12px;
    padding: 1rem;
    border: 1px solid antiquewhite;
}